.content{
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width : 1023px){  /* width less than 780px */
  .nav-desktop{
    display : none;
  }
  .nav-mobile{
    display : block;
  }
  .content{
    margin-top: 10px;
  }
  .spacer {
    height:5vh;
  }
}

@media screen and (min-width : 1024px){  /* width less than 500px */
  .nav-mobile{
    display : none;
  }
  .nav-desktop{
    display : block;
  }
  .content {
    position: relative;
    top: 115px;
  }
  .spacer {
    height: 20vh;
  }
}
