<div class="container mb-4">
  <div class="container-fluid row">
    <h1 class="font-weight-bold">About iJavaScript</h1>
  </div>
  <hr class="mt-2 mb-3 mx-2">
  <div class="container my-3 row">
    <div class="col-lg-5 col-md-5 col-sm-12 imgcol">
      <img src="../../../assets/About-1.png" alt="iJS" class="img-fluid">
     </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <p class="text-sm-justify">iJavaScript is a research group, founded to check different javascript frameworks based on different design patterns.</p>
      <p class="text-sm-justify">During Kick-off it will test React, Angular, Knockout and Ember JS features. This use case will prove different aspects of framework capabilities.</p>
    </div>
  </div>
  <div class="container">
    <h2>Reusable Component</h2>
    <app-cards [cardData]="data"></app-cards>
  </div>
</div>
